* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background: rgb(207, 207, 207);
    color: white;
    font: 600 20px 'Open Sans', sans-serif;
}

#frame {
    background: #22252D;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    height: 450px;
    margin: 20px auto;
    padding: 15px;
    width: 300px;
}

#display {
    align-items: flex-end;
    background: #272B33;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-between;
    padding: 5px;
    width: 100%;
    margin-bottom: 10px;
}

#btn-container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
    justify-content: space-evenly;
}

.btn {
    align-items: center;
    background: #292D36;
    border-radius: 12px;
    display: flex;
    height: 18%;
    justify-content: center;
    text-align: center;
    width: 23%;
}

.hidden {
    visibility: hidden;
}

#entry {
    font-size: 28px;
}

#result {
    font-size: 22px;
    color: lightgreen;
}

.oper {
    color: #FF807F;
}

#c, #ce, #del {
    color: lightskyblue;
    font-size: 18px;
}